[submodule "external/gu"]
	path = external/gu
	url = https://github.com/hilkojj/cpp-game-utils.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/websocketpp"]
	path = external/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "external/lua/lua"]
	path = external/lua/lua
	url = https://github.com/lua/lua.git
[submodule "external/lua/sol2"]
	path = external/lua/sol2
	url = https://github.com/ThePhD/sol2.git
